-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to 'آمار ارسال لینکها', send_links_path
.fa
  %h2= 'لینک های ایمیل شده'

  %table.table.fa.set-center{:style => "width:95%; "}
    %tr.fa
      %th.count ردیف
      %th ایمیل فرستنده
      %th ایمیل گیرنده
      %th لینک ارسالی
      %th متن پیام
      %th موضوع            
      %th

    - @send_links.each_with_index do |send_link, i|
      %tr
        %td=  (i+1)  
        %td= send_link.sender_email
        %td= send_link.receiver_email
        %td{:style => "max-width:150px; overflow:hidden"}= send_link.current_link
        %td= send_link.text
        %td= send_link.subject        
        %td          
          = link_to 'حذف', send_link, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
          \|
          = link_to 'مشاهده', send_link
