.fa
  .col-sm-12
    %h3= 'بیشترین لینک ارسال شده:'
    .col-sm-6
      %h4= 'لینک:'
      %h4= @max_send_link
    .col-sm-6  
      %h4= 'تعداد'
      %h4= @max_send_num
  .col-sm-12
    %h3= 'کمترین لینک ارسال شده:'
    .col-sm-6  
      %h4= 'لینک:'
      %h4= @min_send_link
    .col-sm-6  
      %h4= 'تعداد'
      %h4= @min_send_num
 
