.fa
  %h2= 'لیست پیام های ارسالی'
  .col-sm-8
    .col-sm-4
      %span
        تعداد کل
        = @num_msg
    .col-sm-4
      %span
        خوانده نشده
        = @unread_msg
    .col-sm-4
      %span
        خوانده شده
        = @read_msg

  %table.table
    %tr
      %th.count ردیف
      %th ایمیل
      %th نام
      %th تلفن
      %th متن         
      %th 

    - @messages.each_with_index do |message, i| 
      %tr{:class => ('unvisited' if message.visited == false)}
        %td= (i+1)        
        %td= message.email
        %td= message.name
        %td= message.phone
        %td= truncate(strip_tags(message.text), :length => 30)
        %td
          = link_to 'مشاهده', message
          \|
          = link_to 'حذف پیام', message, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }



