

%p
  %b= t('msg.contact-email')
  = @message.email
%p
  %b= t('msg.contact-name')
  = @message.name
%p
  %b= t('msg.contact-phone')
  = @message.phone
%p
  %b= t('msg.contact-msg')
  = @message.text

= link_to 'حذف پیام', @message, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
