
.edi-slider-holder.fa  
  %h2= 'تنظیم اندازه تصویر'
  = form_for @slider, :html => {:multipart => true} do |f| 
    %div
      = image_tag @slider.image.url(:original), :class => "crop cropImage", :height => "440", :width => "1286", :style => "margin-right:-10%"
      = f.hidden_field :crop_x
      = f.hidden_field :crop_y
      = f.hidden_field :crop_w
      = f.hidden_field :crop_h
    .clr-float
    %div{:style => "margin:10%;"}
      .form-group
        = f.label "بخش مربوطه که می خواهید این اسلاید در آن نمایش داده شود انتخاب کنید.", :class => "col-sm-5 control-label"    
        %i= 'در صورتی که می خواهید در این اسلاید در صفحه اصلی نمایش داده شود، هیچ بخشی را انتخاب نکنید.'
        = f.select(:category_id, Category.all.collect {|u| [u.title_fa, u.id]}, :prompt => ' بخش  را انتخاب کنید.')  
      .form-group        
        = f.label "توضیحات به انگلیسی", :class => "control-label"
        = f.text_area :description_en, :class => "form-control"    
        
      .form-group        
        = f.label "توضیحات به فارسی", :class => "control-label"
        = f.text_area :description_fa, :class => "form-control"    
        
      .form-group        
        = f.label "توضیحات به عربی", :class => "control-label"
        = f.text_area :description_ar, :class => "form-control"  
      
      .form-group
        = f.submit 'ثبت', :class => "btn btn-default"
      .clr-float  
      = link_to 'بازگشت', sliders_path
    .clr-float 
:javascript
  $('.crop' ).each( function () {
    var image = $( this )
    , crop  = image
    .crop( {
      controls : 'Drag to move, scroll to zoom'
    } )
    .on( 'crop', function( event ) {      
      $("#slider_crop_x").val(event.cropX);
      $("#slider_crop_y").val(event.cropY);  
      $("#slider_crop_h").val(event.cropH);
      $("#slider_crop_w").val(event.cropW);
    })
    .data('crop');
      image
      .on( 'dblclick', $.proxy( crop.zoomIn, crop ) )
      .on( 'mousewheel', function ( event ) {
      return event.originalEvent.wheelDelta < 0 ?
      crop.zoomIn() :
      crop.zoomOut();
    } );
  } );
      
    

