.fa
  %h2.heading2 
    = "اسلایدر"
  
  -if is_admin?
    = link_to new_slider_path, :class => "admin-access" do
      .admin-edit-del
        %i= 'عکس جدید'
    
    %p
      %i= 'برای اضافه کردن عکس به اسلایدر بالای صفحات، دکمه عکس جدید را کلیک کنید/'
      %b= 'دقت داشته باشید حجم هر عکس باید کمتر از ۵۰۰ کیلوبایت باشد و اندازه تصاویر ۱۳۰۰* ۵۰۰ مناسب است'
  .index-slider.set-center 
    = render 'slider', :sliders => @sliders
    
      
      
:javascript
  $(".item").first().addClass("active");
  $('.carousel').carousel();
