.fa
  %h2.heading2 
    = "اسلایدر"
  
  -if is_admin?
    = link_to new_slider_path, :class => "admin-access" do
      .admin-edit-del
        %i= 'عکس جدید'
    
    %p
      %i= 'برای اضافه کردن عکس به اسلایدر بالای صفحات، دکمه عکس جدید را کلیک کنید/'
  .index-slider.set-center 
    = render 'slider'            
    
      
      
  :javascript
    $(".item").first().addClass("active");
    $('.carousel').carousel();
