= form_for @reseller do |f|
  - if @reseller.errors.any?
    #error_explanation      
      %ul
        - @reseller.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label 'عنوان به فارسی', :class => "col-sm-4 control-label"    
    = f.text_field :title_fa, :class => "form-control"
  .form-group
    = f.label 'عنوان به انگلیسی', :class => "col-sm-4 control-label"    
    = f.text_field :title_en, :class => "form-control"
  .form-group
    = f.label 'نام مدیر عامل به فارسی', :class => "col-sm-4 control-label"    
    = f.text_field :Management_name_fa, :class => "form-control"
  .form-group
    = f.label 'نام مدیرعامل به انگلیسی', :class => "col-sm-4 control-label"    
    = f.text_field :Management_name_en, :class => "form-control"
  .form-group
    = f.label 'تلفن های تماس', :class => "col-sm-4 control-label"    
    = f.text_area :phone, :class => "form-control"
  .form-group
    = f.label 'آدرس به فارسی', :class => "col-sm-4 control-label"    
    = f.text_area :address_fa, :class => "form-control"
  .form-group
    = f.label 'آدرس به انگلیسی', :class => "col-sm-4 control-label"    
    = f.text_area :address_en, :class => "form-control"
  .form-group
    = f.submit 'ثبت', :class => "btn"
