-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to 'تعریف نمایندگی جدید', new_reseller_path
.col-sm-12{:style => "overflow-y:scroll; max-height:370px; "}
  
  %br
  .row
    - Reseller.all.each do |reseller|
      .cycle-overlay{:id => I18n.locale, :style => "width:90%; padding:3px"}
        %strong.row
          = reseller.title                 
        .row{:id => I18n.locale}
          .col-sm-2= t('reseller.CEO')
          .col-sm-10= reseller.Management_name          
        .row
          .col-sm-2= t('reseller.Phone')
          .col-sm-10= reseller.phone        
        .row
          .col-sm-2= t('reseller.address')
          .col-sm-10= reseller.address              
      .row
        -if is_admin?
          %td
            = link_to 'مشاهده', reseller
            \|
            = link_to 'ویرایش', edit_reseller_path(reseller)
            \|
            = link_to 'حذف', reseller, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

  

:javascript
  
  if ( $('.cycle-overlay').attr("id") == 'en' ) {
    $('.row .col-sm-2').css('float', 'left');    
    $('.row .col-sm-10').css('float', 'left');
  }
  
