= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.each do |attr, msg|
          %li= msg

  .form-group
    = f.label 'ایمیل', :class => "col-sm-5 control-label"    
    = f.text_field :email, :class => "form-control"
  .form-group
    = f.label 'نام کاربری', :class => "col-sm-5 control-label"    
    = f.text_field :user_name, :class => "form-control",  :disabled => true
    
  .form-group
    = f.label 'تغییر رمزعبور', :class => "col-sm-5 control-label"    
    = f.text_field :password, :class => "form-control"
  .form-group
    = f.submit 'ثبت', :class=> "btn btn-default"
