-if is_admin?
  = link_to new_user_path, :class => "admin-access" do
    .admin-edit-del
      %i= 'تعریف مدیر جدید'
    
.fa
  %h1= 'پروفایل  مدیر سایت'

  
  - @users.each do |user|
    .col-sm-4      
      %b ایمیل
      = user.email
    .col-sm-2
      %b نام کاربری
      = user.user_name
    .col-sm-2
      %b رمز عبور
      = user.password
    .col-sm-2
      = link_to 'مشاهده', user
      \|
      = link_to 'ویرایش', edit_user_path(user)
      


 
