%div  
  %h1= 'لیست همکاران'

  %table.table.table-striped{id:"colleague_table"}
    %thead
      %tr.first
        %th ردیف
        %th عنوان شرکت
        %th نام کاربری
        %th تلفن ثابت
        %th تلفن همراه
        %th آدرس
        %th آخرین صورت حساب
        %th سایر توضیحات
        - if is_admin?
          %th عملیات
        
    %tbody
      - @users.each_with_index do |user, i|
        %tr
          %td= (i+1)
          %td= user.colleague_title
          %td= user.user_name
          %td= user.phone
          %td= user.mobile
          %td= user.address          
          %td
            - if user.amount_remains.present?
              = user.amount_remains.last.amount
          %td= user.description
          - if is_admin?
            %td
              = link_to 'مشاهده', user
              \|
              = link_to 'ویرایش', edit_user_path(user)
              \|
              = link_to 'حذف', user, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

:coffeescript
  window.reloadDataTable = ->
    if !!window.oTable
      window.oTable.fnDestroy(); 
    window.oTable = $("#colleague_table").dataTable aoColumnDefs: [
      bSearchable: false
      aTargets: [0,8]
    ,  
      bSortable: false
      aTargets: [0,8]
    ],  oLanguage:
      sSearch: "جستجو:"
      sLengthMenu: "نمایش _MENU_ ردیف"
      sInfo: "جمع ردیفها _TOTAL_ ردیف (_START_ از _END_)"
      sZeroRecords: "هیچ داده ای وجود ندارد"
      sInfoEmpty: "هیچ موردی یافت نشد"
      sInfoFiltered: " - از بین _MAX_ داده موجود"
      oPaginate:
        sPrevious: "صفحه قبلی"
        sNext: "صفحه بعدی"

  window.reloadDataTable()


