%h1 Listing users

%table
  %tr
    %th Colleague title
    %th User name
    %th Phone
    %th Mobile
    %th Address
    %th Amount remains
    %th Description
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.colleague_title
      %td= user.user_name
      %td= user.phone
      %td= user.mobile
      %td= user.address
      %td= user.amount_remains
      %td= user.description
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
