.show-colleague  
  -if flash[:AddUser]        
    .alert.alert-success= flash[:AddUser]
  .col-sm-6
    %h2= 'اطلاعات کاربری'
    %p
      %b نام شرکت همکار:
      = @user.colleague_title
    %p
      %b نام کاربری:
      = @user.user_name
    %p
      %b ایمیل:
      = @user.email
    
    %p
      %b تلفن ثابت:
      = @user.phone
    %p
      %b تلفن همراه:
      = @user.mobile
    %p
      %b آدرس:
      = @user.address 
  .col-sm-6
    %h2= 'اطلاعات مالی '
    %p
      %h4= 'آخرین صورت حساب'
      - if @user.amount_remains.present?
        %b مبلغ مانده:
        = @user.amount_remains.last.amount
        %br
        %b تاریخ صورت حساب:
        = JalaliDate.new(@user.amount_remains.last.created_at)
        
      - else
        %b موردی وارد نشده است.
    %p
      %b سایر توضیحات:
      = @user.description
  .col-sm-12
    - if  is_admin?
      .admin-edit-del-small
        = link_to 'ویرایش اطلاعات کاربری', edit_user_path(@user)
        
    
