.col-sm-6{:style => "border-left: 1px solid #FFA500"}  
  %p= link_to 'مدیریت بخش ها', Category
  %p= link_to 'افزودن آیتم به هر بخش', new_product_path
  %p= link_to 'مدیریت اسلایدر اصلی', Slider
  %p= link_to 'مدیریت اسلایدر حرم مطهر', Haram  
  %p= link_to 'پیام های ارسالی', Message
  %p= link_to 'مدیریت فعالیت ها', Activity
.col-sm-6  
  %p= link_to 'مدیریت حساب ها', AmountRemain
  %p= link_to 'کاربران', User
  %p= link_to 'افزودن کاربر جدید', new_user_path  
  %p= link_to 'مدیریت صفحات متنی', Page  
  %p= link_to 'مشاهده ارسال لینکها', SendLink
  %p= link_to 'پروفایل مدیر', edit_user_path(current_user)
  %p= link_to "خروج", destroy_user_session_path, :method => :delete
