.col-sm-6{:style => "border-left: 1px solid #FFA500"}  
  %p= link_to 'مدیریت بخش ها', Category, :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'افزودن آیتم به هر بخش', new_product_path  , :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'مدیریت اسلایدر اصلی', Slider, :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'مدیریت اسلایدر حرم مطهر', Haram  , :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'پیام های ارسالی', Message, :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'مدیریت فعالیت ها', Activity, :title => "هتل_مشهد_هتل_شادتوس"
.col-sm-6  
  %p= link_to 'مدیریت حساب ها', AmountRemain, :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'کاربران', User, :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'افزودن کاربر جدید', new_user_path  , :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'مدیریت صفحات متنی', Page  , :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'مشاهده ارسال لینکها', SendLink, :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to 'پروفایل مدیر', edit_user_path(current_user), :title => "هتل_مشهد_هتل_شادتوس"
  %p= link_to "خروج", destroy_user_session_path, :method => :delete, :title => "هتل_مشهد_هتل_شادتوس"
