
.col-sm-6
  %div= link_to 'پیام های ارسالی', Message
  %div= link_to 'مدیریت محصولات', Category
  %div= link_to 'تنوع مدل محصولات', Product
  
  %div= link_to 'مدیریت اسلایدر', Slider
  
.col-sm-6
  %div= link_to 'مدیریت صفحات متنی', Page  
  %div= link_to 'مشاهده ارسال لینکها', SendLink
  %div= link_to 'پروفایل مدیر', edit_user_path(current_user)
  %div= link_to 'خروج', delete_session_path
