%ul.set-center
  = link_to root_path do
    %li#home.first{:class => ('active' if current_page?(root_path)) }
      = t('home')
  = link_to '#' do
    %li.gallery#category{:class => ('active' if current_page?(categories_path)) }
      =t('shopping') 
  = link_to '#' do
    %li#hotel
      = t('hotel')
  = link_to '#' do
    %li#sights
      = t('sights')
  = link_to Activity do
    %li{:class => ('active' if current_page?(activities_path)) }= t('activity')
  = link_to '#' do
    %li#contact{:class => ('active' if current_page?(pages_path)) }
      = t('contact')
.col-sm-6.submenu.contact
  - Page.all.each do |page|
    .col-sm-4.submenu-item      
      =link_to page do
        %b=page.title
        = image_tag page.image(:small)
  .clr-float
.col-sm-6.submenu.category
  - category = Category.where(category_type: 1)
  - category.each do |category|
    .col-sm-4.submenu-item      
      =link_to category do
        %b=category.title
        = image_tag category.image(:small)
  .clr-float
  
.col-sm-6.submenu.hotel
  - category = Category.find_by_category_type(2)
  - if category.present? && category.products.present?
    - category.products.each do |room|
      .col-sm-4.submenu-item      
        =link_to room do
          %b=room.title
          - if room.pictures.present?
            = image_tag room.pictures.first.image(:small)
    .clr-float
.col-sm-6.submenu.sights
  - category = Category.find_by_category_type(3)
  - if category.present? && category.products.present?
    - category.products.each do |place|
      .col-sm-4.submenu-item           
        =link_to place do
          %b=place.title
          - if place.pictures.present?
            = image_tag place.pictures.first.image(:small)
  .clr-float
    
:javascript 
  $('#contact').click(function(){
    $('.submenu').hide();
    $('.submenu.contact').slideToggle('slow');
  });
  $('#category').click(function(){
    $('.submenu').hide();
    $('.submenu.category').slideToggle('slow');
  });
  $('#hotel').click(function(){
    $('.submenu').hide();
    $('.submenu.hotel').slideToggle('slow');
  });
  $('#sights').click(function(){
    $('.submenu').hide();
    $('.submenu.sights').slideToggle('slow');
  });
