%ul
  = link_to root_path do
    %li#home.first{:class => ('active' if current_page?(root_path)) }
      = t('home')
  = link_to Category do
    %li.gallery
      =t('section')
  = link_to Product do
    %li#ourprojects
      = t('gallery') 
  - Page.all.each do |page|    
    = link_to page do
      %li
        = page.title
