.col-sm-12{:style => "margin-bottom:5%; border-bottom:#FFA500 solid 2px;"}
  
  .form-group.upload-pic
    - if picture.object.image.present? 
      = image_tag  picture.object.image(:small), :class => "enable_file_select"
    = picture.file_field :image    
    
  .col-sm-12
    
    .form-group
      = picture.label "عنوان به فارسی", :class => "control-label"   
      = picture.text_field :title_fa, :class => "form-control"
    .form-group
      = picture.label "عنوان به عربی", :class => "control-label"   
      = picture.text_field :title_ar, :class => "form-control"
    .form-group
      = picture.label "عنوان به انگلیسی", :class => " control-label"   
      = picture.text_field :title, :class => "form-control"
  
    .form-group
      = picture.label "توضیحات عکس به فارسی", :class => "col-sm-3 control-label"   
      = picture.text_area :description_fa, :rows => 2, :class => "form-control"
    .form-group
      = picture.label "توضیحات عکس به عربی", :class => "col-sm-3 control-label"   
      = picture.text_area :description_ar, :rows => 2, :class => "form-control3"
    .form-group
      = picture.label "توضیحات عکس به انگلیسی", :class => "col-sm-3 control-label"   
      = picture.text_area :description, :rows => 2, :class => "form-control"
    
    = picture.link_to_remove image_tag ("Delete_Icon.png"), :class => "remove-task "
    %span= 'حذف تصویر'
.clr-float
