= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %ul
        - @page.errors.each do |attr, msg|
          %li= msg
  .form-group      
    
    - if @page.present?
      .col-sm-4
        = image_tag @page.image(:small)
    .col-sm-5
      = f.label "تصویر موردنظر برای نمایش در زیر منوی ارتباط", :class => "control-label"    
      = f.file_field :image
    .clr-float
  .form-group   
    = f.label "عنوان صفحه به فارسی", :class => "control-label"
    = @page.title_fa
  .form-group   
    = f.label "عنوان صفحه به انگلیسی", :class => "control-label"
    = @page.title
  .form-group   
    = f.label "عنوان صفحه به عربی", :class => "control-label"
    = @page.title_ar
  
  .editor.form-group   
    = f.label "متن صفحه به فارسی:", :class => "control-label"
    = f.text_area :html_text_fa, :class => "form-control ckeditor"
  .editor.form-group   
    = f.label "متن صفحه به انگلیسی:", :class => "control-label"
    = f.text_area :html_text, :class => "form-control ckeditor"
  .editor.form-group   
    = f.label "متن صفحه به عربی:", :class => "control-label"
    = f.text_area :html_text_ar, :class => "form-control ckeditor"
  .form-group   
    = f.submit 'ثبت', :class=> "btn btn-default"
