-if is_admin?
  .admin-edit-del    
    = link_to 'صفحه جدید', new_page_path
  
.fa
  %h1= 'صفحات متنی'
  
  %table.table
    - @pages.each do |page|
      %tr
        %td= page.title        
        - if is_admin?
          %td
            .admin-edit-del-small
              = link_to 'مشاهده', page
              \|
              = link_to 'ویرایش', edit_page_path(page)
              \|
              = link_to 'حذف', page, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }




