= form_for @amount_remain do |f|
  - if @amount_remain.errors.any?
    #error_explanation      
      %ul
        - @amount_remain.errors.each do |attr, msg|
          %li= msg
        
  - if is_admin? 
    - if @amount_remain.present?
      %br
      .form-group
        %b= 'نام کاربر:'
        = f.select :user_id, options_for_select( User.offset(1).collect{ |u| [u.user_name, u.id] }), prompt: "کاربر را انتخاب کنید."        
      
      .form-group.pull-right.col-sm-5
        %b.pull-right.col-sm-2= 'مبلغ :'
        .pull-right.col-sm-10= f.text_field :amount, :class => "form-control"        
      .clr-float
      .form-group.col-sm-5
        = f.label 'توضیحات مدیر:', :class => "col-sm-5 control-label"    
        = f.text_area :admin_description, :class => "form-control"
      .clr-float
  - else
    .form-group.col-sm-6      
      = f.label 'نام کاربر:', :class => "col-sm-2 control-label"        
      - if @amount_remain.user.present?          
        %span= @amount_remain.user.user_name        
    .clr-float
    .form-group
      = f.label 'تاریخ ثبت حساب:', :class => "col-sm-2 control-label"    
      %b= JalaliDate.new(@amount_remain.created_at)       
    .clr-float
    .form-group
      = f.label 'مبلغ مانده:', :class => "col-sm-2 control-label"    
      %b= @amount_remain.amount
    .clr-float
    .form-group
      = f.label 'توضیحات مدیر:', :class => "col-sm-2 control-label"    
      %b= @amount_remain.admin_description
    .form-group
      = f.label 'توضیحات همکار:', :class => "col-sm-2 control-label"    
      .col-sm-5= f.text_area :description, :class => "form-control"
    .clr-float
  .form-group
    = f.submit 'ثبت', :class => "btn btn-default"
