- if is_admin?
  %h1= 'افزودن توضیحات'
  %i= 'در صورت مغایرت داشتن یا جهت ذکر سایر توضیحات می توانید در این کادر متن خود را وارد کنید'
-else
  %h1 ویرایش اطلاعات مانده حساب

= render 'form'

= link_to 'مشاهده', @amount_remain
\|
= link_to 'بازگشت', :back
