.show-amount-remain
  -if notice        
    .alert.alert-success= notice
  %p
    %b نام کاربر:
    = @amount_remain.user.user_name
  %p
    %b نام شرکت:
    = @amount_remain.user.colleague_title
  %p
    %b تاریخ ثبت :
    = JalaliDate.new(@amount_remain.created_at)       
    
  %p
    %b مبلغ مانده:
    = @amount_remain.amount
  
  %p
    %b سایر توضیحات همکار:
    = @amount_remain.description
  %p
    %b توضیحات مدیر:
    = @amount_remain.admin_description
  - if is_admin?
    = link_to 'مشاهده', edit_amount_remain_path(@amount_remain)
    \|
    = link_to 'بازگشت', :back
