.col-sm-6
  .form-group  
    = f.label "عنوان گواهینامه به فارسی"
    = f.text_field :title_fa
  .form-group  
    = f.label "عنوان گواهینامه به انگلیسی"
    = f.text_field :title_en
  .form-group  
    = f.label "تصویر گواهینامه"
    = f.file_field :image, :class => "hide"
    = image_tag (f.object.image.present? ? f.object.image(:small) : "missing.png"), :class => "enable_file_select", :style => "height:50px; width:50px" 
  .form-group       
    = f.link_to_remove image_tag ("del.png"), :class => "remove-task "
    
