.cer-bg{:class => I18n.locale}
  %h1= t('certificate')    
     
  - @certifications.each do |certification|
    .box-4.set-center{align: "center", :class => I18n.locale}  
      = link_to certification do         
        %p= certification.title 
        = image_tag certification.image(:small), :class => "category-image"
        
      = link_to 'مشاهده', certification
      \|
      = link_to 'ویرایش', edit_certification_path(certification)
      \|
      = link_to 'حذف', certification, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }




