-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    
    = link_to 'ویرایش', edit_certification_path(@certification)
    \|
    = link_to 'بازگشت', certifications_path

%p#notice= notice
.set-center{:style => "width:50%"}
  %p
    %b عنوان گواهینامه
    = @certification.title_fa
  %p
    = image_tag @certification.image(:medium)
  
