
.AccordionBox
  %ul
    - @category.each do |category|
      = link_to category do
        %li
          = image_tag category.image(:large)        
          .cat-title
            %h3= category.title
            %p= category.description
          
.col-sm-12          
  .col-sm-6
    .about-us
      %h2= 'درباره شادتوس'
      = image_tag '1212.png'
      %p= 'روي هر پله اي كه ايستاده باشي ، خدا يك پله بالاتر از توست . نه بخاطر اينكه خداست...بخاطر اينكه ميخواد دستت رو بگيره!'
  .haram-pic.col-sm-4
    = render 'harams/haram_slider'
  
    
.new-box  
  .activities
    #makeMeScrollable
      - @activity.each do |activity|
        .vertical-box
          .col-sm-9.set-center.activity-title= activity.title
          = image_tag activity.image(:small), :id => activity.image_file_name, :alt => activity.image_file_name, :class => "activity-img"
          .col-sm-10.set-center.activity-des= activity.description
          .col-gl-3.more= link_to t('more'), activity
      .clr-float

        
:javascript

  $('.AccordionBox ul li:first').addClass('active');
  
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
  });
      
   
  $(document).ready(function () {
  	$("#makeMeScrollable").smoothDivScroll({
  		mousewheelScrolling: "allDirections",
  		manualContinuousScrolling: true,
  		autoScrollingMode: "onStart"
  	});
  })    
    

  function slideSwitch() {
      var $active = $('#slideshow IMG.active');

      if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

      // use this to pull the images in the order they appear in the markup
      var $next =  $active.next().length ? $active.next()
          : $('#slideshow IMG:first');

      // uncomment the 3 lines below to pull the images in random order
      
      // var $sibs  = $active.siblings();
      // var rndNum = Math.floor(Math.random() * $sibs.length );
      // var $next  = $( $sibs[ rndNum ] );


      $active.addClass('last-active');

      $next.css({opacity: 0.0})
          .addClass('active')
          .animate({opacity: 1.0}, 1000, function() {            
            $active.removeClass('active last-active');            
          });
  }

  $(function() {
      setInterval( "slideSwitch()", 5000 );
  });


