.col-sm-3  
  .about-us
    = image_tag 'befor.png'
    %h2= 'درباره شادتوس'    
    %p= 'روي هر پله اي كه ايستاده باشي ، خدا يك پله بالاتر از توست . نه بخاطر اينكه خداست...بخاطر اينكه ميخواد دستت رو بگيره!'
    = image_tag '1212.png'
.col-sm-9
  .AccordionBox
    %ul
      - @category.each do |category|
        = link_to category do
          %li
            = image_tag category.image(:large)        
            .cat-title
              %h3= category.title
              %p= category.description
            
.col-sm-12          
  
  .haram-pic
    = render 'harams/slider_haram'
  
    
  .new-box.col-sm-8
    .activities
      .flexslider
        %ul.slides
          - @activities.each do |activity|
            %li          
              = image_tag activity.image(:small), :id => activity.image_file_name, :alt => activity.image_file_name
              .activity-title= activity.title
              .set-center.activity-des= activity.description
              .col-gl-3.more
                .inside-border
                  = link_to t('more'), activity
              .clr-float

        

  
