.col-sm-3  
  - if is_admin?
    .admin-edit-del-small{:style => "width:50% "}
      = link_to 'مشاهده', @about_us
      \|
      = link_to 'ویرایش', edit_page_path(@about_us)
  .about-us
    = image_tag 'befor.png'    
    %h2= t('about-shadtoos')      
    .show-about-text{:class => I18n.locale}
      = raw @about_us.html_text      
    .more{:style => "margin-top:5%"}
      .inside-border
        = link_to t('more'), @about_us
    = image_tag '1212.png'
.col-sm-9
  .AccordionBox
    %ul
      - @category.each do |category|
        = link_to category, :name => category.title_en do
          %li{:id => "item#{category.id}" }
            = image_tag category.image(:original), :class => "sample-image"        
            .cat-title
              .col-sm-10.font-style=  category.title
              %p.col-sm-12= truncate(category.description, lenght: 80){ link_to t('Continue'), category }
            
.col-sm-12          
  
  .haram-pic
    = render 'harams/slider_haram'
  
    
  .col-sm-8.container   
    .body-content
      #demo5.scroll-img
        %ul
          - Activity.all.each do |act|
            %li
              = link_to act do
                %p.act-title= act.title
                = image_tag act.image(:small)                
                %p.act-des{:class => I18n.locale}= act.description
      #demo5-btn.text-center
        %button#demo5-backward.btn
          %i.icon-chevron-left
          بعدی
        %button#demo5-forward.btn
          قبلی
          %i.icon-chevron-right
                  
    
.col-sm-12
  .col-sm-4  
    %p= @contact_us.html_text
    %div
      = render 'shared/msg_form'
    
    
  .col-sm-8
    %div{:style => "border:#F1F164 1px solid; height:200px"}

:javascript
  window.DisableAccordionBox = false;
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
    window.DisableAccordionBox = true;
  });
  $('.AccordionBox ul li').mouseout(function(){
    window.DisableAccordionBox = false;
  });
  
  $('#demo5').scrollbox({
    direction: 'h',
    distance: 140
  });
  $('#demo5-backward').click(function () {
    $('#demo5').trigger('backward');
  });
  $('#demo5-forward').click(function () {
    $('#demo5').trigger('forward');
  });
  

 
  
  
