.col-sm-3  
  .about-us
    = image_tag 'befor.png'
    %h2= 'درباره شادتوس'    
    %p= 'در این کارد متن مورد نظر برای معرفی  هتل آپارتمان شادتوس قرار خواهد گرفت'
    = image_tag '1212.png'
.col-sm-9
  .AccordionBox
    %ul
      - @category.each do |category|
        = link_to category do
          %li
            = image_tag category.image(:original), :class => "sample-image"        
            .cat-title
              .col-sm-3= image_tag category.font_image(:small)              
              %p.col-sm-8= category.description
            
.col-sm-12          
  
  .haram-pic
    = render 'harams/slider_haram'
  
    
  .new-box.col-sm-8
    .activities
      %ul.slides
        - @activities.each do |activity|
          %li          
            = image_tag activity.image(:small), :id => activity.image_file_name, :alt => activity.image_file_name, :class => "act-pic"
            .activity-title= activity.title
            .set-center.activity-des{:class => I18n.locale}= activity.description
            .col-gl-3.more{:style => "margin-top:10%"}
              .inside-border
                = link_to t('more'), activity
            .clr-float

:javascript
  
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
  });



 
  
  
