.AccordionBox
  %ul
    - Category.all.each do |category|
      %li
        = image_tag category.image
        %div= category.description
.new-box
  .activities
    - Activity.all.each do |activity|
      .vertical-box
        %div= activity.title
        = image_tag activity.image(:small)
        %div= activity.description
  .haram-pic
  
        
    


:javascript 
  $(".item").first().addClass("active");
  $(".slide-indicator").first().addClass("active");
  $('.carousel').carousel();



