.col-sm-3  
  - if is_admin?
    .admin-edit-del-small{:style => "width:50% "}
      = link_to 'مشاهده', @about_us
      \|
      = link_to 'ویرایش', edit_page_path(@about_us)
  .about-us
    = image_tag 'befor.png'    
    %h2{:class => I18n.locale, :style => "text-align:center"}= t('about-shadtoos')      
    .show-about-text{:class => I18n.locale}
      = raw @about_us.html_text      
    .more{:style => "margin-top:5%"}
      .inside-border
        = link_to t('more'), @about_us
    = image_tag '1212.png'
.col-sm-9
  .AccordionBox
    %ul
      - @category.each do |category|
        = link_to category, :name => category.title_en do
          %li{:id => "item#{category.id}" }
            = image_tag category.image(:original), :class => "sample-image"        
            .cat-title
              .col-sm-12.font-style.box-title=  category.title
              %p.col-sm-12= truncate(category.description, lenght: 80){ link_to t('Continue'), category }
            
.col-sm-12          
  
  .haram-pic
    = render 'harams/slider_haram'
  
    
  .col-sm-8.container   
    = render "activities/active_slide"
            
                  
    
.col-sm-12
  .col-sm-4  
    %p{:class => I18n.locale}= raw @contact_us.html_text
    %div
      = render 'shared/msg_form'
    
    
  .col-sm-8
    #google-map
      
      %iframe{:height => "450", :src => "https://mapsengine.google.com/map/embed?mid=zbDi3iZxywyM.k9GXrZmanuVw", :width => "640"}

:javascript
  window.DisableAccordionBox = false;
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
    window.DisableAccordionBox = true;
  });
  $('.AccordionBox ul li').mouseout(function(){
    window.DisableAccordionBox = false;
  });
  
  

 
  
  
