#haram-slide-show.slide{:style => "height:100%"}
  .carousel-inner{:style => "height:100%"}
    - @sliders_haram = Haram.all
    - @sliders_haram.each do |slide|
      .item-row.item          
        = image_tag slide.image(:original), :id =>  slide.id ,  :class => "slide"          
        .haram-description{:class => I18n.locale}= 'توضیحات مربوط به هر اسلایدر در این  '
        -if is_admin?
          .row-controls.admin-edit-del
            = link_to edit_slider_path(slide) do
              %i= 'ویرایش'
              \|
            = link_to  slide, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }  do
              %i= 'حذف'
  -if @sliders_haram.count > 1                
    = link_to "#haram-slide-show", :class => "carousel-control left", "data-slide" => "prev" do
      = image_tag 'banner_go_left.png', :class => "haram-arrow"
    = link_to "#haram-slide-show", :class => "carousel-control right", "data-slide" => "next" do
      = image_tag 'banner_go_right.png', :class => "haram-arrow"
      
:javascript   
 
  $("#haram-slide-show .item").first().addClass("active");  
  $('#haram-slide-show').carousel();
