%div
  -if is_admin?
    = link_to new_haram_path, :class => "admin-access" do
      .admin-edit-del
        %i= 'تعریف آیتم جدید'
    
  %h1= 'مدیریت اسلایدر حرم مطهر'

  %table
    %tr
      %th Description      
      %th
      %th

    - @harams.each do |haram|
      %tr
        %td= haram.description        
        %td= link_to 'مشاهده', haram
        %td= link_to 'ویرایش', edit_haram_path(haram)
        %td= link_to 'حذف', haram, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

  %br

  
