.fa
  -if is_admin?
    = link_to new_haram_path, :class => "admin-access" do
      .admin-edit-del
        %i= 'تعریف آیتم جدید'
  %p
    %i= 'این تصاویر در قسمت اسلایدر حرم نمایش داده می شوند'
  %h1= 'مدیریت اسلایدر حرم مطهر'

  .col-sm-12
    - @harams.each do |haram|
      .col-sm-3{:style => "margin:1%"}
        = image_tag haram.image(:small)
        %p{:style => "margin:1%"}= haram.description        
        %p{:style => "margin:1%"}
          = link_to 'مشاهده', haram
          \|
          = link_to 'ویرایش', edit_haram_path(haram)
          \|
          = link_to 'حذف', haram, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

  %br

  
