.col-sm-12.fa
  = image_tag @haram.image(:small)
  %p
    %b توضیحات فارسی
    = @haram.description
  %p
    %b توضیحات انگلیسی
    = @haram.description_en
  %p
    %b توضیحات عربی
    = @haram.description_ar
  - if is_admin?
    .admin-edit-del-small
      = link_to 'ویرایش', edit_haram_path(@haram)
      \|
      = link_to 'بازگشت', harams_path
