= form_for @sub_group do |f|
  - if @sub_group.errors.any?
    #error_explanation      
      %ul
        - @sub_group.errors.each do |attr, msg|
          %li= msg
  .fa
    .form-group
      = f.label 'گروه مربوطه:'      , :class => "col-sm-3 control-label"    
      - if @category_id.present?
        %p= @category.title
      = f.hidden_field :category_id, :value => @category_id
    .form-group
      = f.label 'عنوان زیرگروه به فارسی:', :class => "col-sm-3 control-label"    
      = f.text_field :title_fa
    .form-group
      = f.label 'عنوان زیرگروه به انگلیسی:', :class => "col-sm-3 control-label"    
      = f.text_field :title_en
    .form-group
      = f.label 'عنوان زیرگروه به عربی:', :class => "col-sm-3 control-label"    
      = f.text_field :title_ar
    .form-group
      = f.label 'توضیحات به انگلیسی:', :class => "col-sm-3 control-label"    
      = f.text_area :description_en
    .form-group
      = f.label 'توضیحات به فارسی:', :class => "col-sm-3 control-label"    
      = f.text_area :description_fa
    .form-group
      = f.label 'توضیحات به عربی:', :class => "col-sm-3 control-label"    
      = f.text_area :description_ar
    
    .form-group
      = f.submit 'ثبت', :class=> "btn btn-default"
