%h1 Listing sub_groups

%table
  %tr
    %th Title en
    %th Title fa
    %th Title ar
    %th Description en
    %th Description fa
    %th Description ar
    %th Category
    %th
    %th
    %th

  - @sub_groups.each do |sub_group|
    %tr
      %td= sub_group.title_en
      %td= sub_group.title_fa
      %td= sub_group.title_ar
      %td= sub_group.description_en
      %td= sub_group.description_fa
      %td= sub_group.description_ar
      %td= sub_group.category_id
      %td= link_to 'Show', sub_group
      %td= link_to 'Edit', edit_sub_group_path(sub_group)
      %td= link_to 'Destroy', sub_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sub group', new_sub_group_path
