= nested_form_for @category, :html => { :multipart => true  }  do |f|
  - if @category.errors.any?
    #error_explanation      
      %ul
        - @category.errors.each do |attr, msg|
          %li= msg
  
  .fa
    .col-sm-6      
      .form-group
        = f.label "عنوان بخش به فارسی", :class => "col-sm-5 control-label"    
        = f.text_field :title_fa, :class => "form-control"
      .form-group
        = f.label "عنوان بخش به انگلیسی", :class => "col-sm-5 control-label"      
        = f.text_field :title_en, :class => "form-control"    
      .form-group
        = f.label "عنوان بخش به عربی", :class => "col-sm-5 control-label"      
        = f.text_field :title_ar, :class => "form-control"  
    
        
    .form-group.col-sm-6
      = f.label "توضیحات به فارسی", :class => "col-sm-5 control-label"      
      = f.text_area :description_fa, :class => "form-control"
    .form-group.col-sm-6
      = f.label "توضیحات به انگلیسی", :class => "col-sm-5 control-label"      
      = f.text_area :description_en, :class => "form-control"       
    .form-group.col-sm-6
      = f.label "توضیحات به عربی", :class => "col-sm-5 control-label"      
      = f.text_area :description_ar, :class => "form-control"       
    .clr-float
    .col-sm-6
      .form-group        
        = f.label " تصویر نمونه:", :class => "col-sm-6 control-label"      
        = f.file_field :image     
        -if @category.image.present?              
          = image_tag @category.image(:small) 
    
    
  .col-sm-4
    = f.submit 'ثبت', :class=> "btn btn-default"
  



