= nested_form_for @category, :html => { :multipart => true  }  do |f|
  - if @category.errors.any?
    #error_explanation      
      %ul
        - @category.errors.each do |attr, msg|
          %li= msg
  
  .fa
    .col-sm-6      
      .form-group
        = f.label "عنوان بخش به فارسی", :class => "col-sm-5 control-label"    
        = f.text_field :title_fa, :class => "form-control"
      .form-group
        = f.label "عنوان بخش به انگلیسی", :class => "col-sm-5 control-label"      
        = f.text_field :title_en, :class => "form-control"    
      .form-group
        = f.label "عنوان بخش به عربی", :class => "col-sm-5 control-label"      
        = f.text_field :title_ar, :class => "form-control"  
      .form-group
        = f.label "بخش جاری در کدام دسته بندی قرار می گیرد؟", :class => "control-label"              
        %br
        =  f.select(:category_type, [['مرکز خرید',1], ['هتل',2],['سایر',3]] , prompt: "نوع بخش را انتخاب کنید.", :class => "form-control"  )
        
    .form-group.col-sm-6
      = f.label "توضیحات به فارسی", :class => "col-sm-5 control-label"      
      = f.text_area :description_fa, :class => "form-control"
    .form-group.col-sm-6
      = f.label "توضیحات به انگلیسی", :class => "col-sm-5 control-label"      
      = f.text_area :description_en, :class => "form-control"       
    .form-group.col-sm-6
      = f.label "توضیحات به عربی", :class => "col-sm-5 control-label"      
      = f.text_area :description_ar, :class => "form-control"       
    .clr-float
    .col-sm-6
      .form-group        
        = f.label " تصویر نمونه:", :class => "control-label"      
        = f.file_field :image     
        -if @category.image.present?              
          = image_tag @category.image(:small) 
    .col-sm-6
      .form-group.col-sm-6        
        = f.label " تصویر عنوان با فونت", :class => "control-label"      
        = f.file_field :font_image     
        -if @category.font_image.present?              
          = image_tag @category.font_image(:original) 
      .form-group.col-sm-6        
        = f.label " آیکنی که برای باکس این بخش روی اسلایدر اصلی قرار می گیرد.", :class => "control-label"      
        = f.file_field :slider_box     
        -if @category.font_image.present?              
          = image_tag @category.slider_box(:original) 
    
    
    .col-sm-4
      = f.submit 'ثبت', :class=> "btn btn-default"
  



