.category-bg.fa
  -if is_admin?
    = link_to new_category_path, :class => "admin-access" do
      .admin-edit-del
        %i= 'تعریف بخش جدید'
    %br
  
  .AccordionBox
    %ul
      - @categories.each do |category|
        = link_to category do
          %li
            = image_tag category.image(:large)
            %div= category.title
            %div= category.description
:javascript

  $('.AccordionBox ul li:first').addClass('active');
  
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
  });
      
