.category-bg.fa
  -if is_admin?
    = link_to new_category_path, :class => "admin-access" do
      .admin-edit-del
        %i= 'تعریف بخش جدید'
    %i= 'حداکثر می توانید ۵ بخش اضافه کنید. برای افزودن بخش بیشتر لطفا هماهنگی لازم را انجام دهید.'
    %br
  .col-sm-9
    .AccordionBox
      %ul
        - @categories.each do |category|
          
          %li            
            -if is_admin? 
              .admin-edit-del-small
                = link_to 'ویرایش', edit_category_path(category)
                \|
                = link_to 'حذف', category, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }       
            = link_to category do
              = image_tag category.image(:original), :class => "sample-image"        
              .cat-title
                .col-sm-3= category.title
                %p.col-sm-8= category.description
        
:javascript

  $('.AccordionBox ul li:first').addClass('active');
  
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
  });
      
