.category-bg
  -if is_admin?
    .admin-link.fa
      %p= 'منوی صفحه'
      %hr
      = link_to 'تعریف محصول جدید', new_category_path
  = image_tag 'slide4.jpg', :style => "z-index:-20; position:fixed"
  
  .AccordionBox
    %ul
      - @categories.each do |category|
        = link_to category do
          %li
            = image_tag category.image(:large)
            %div= category.title
            %div= category.description
:javascript

  $('.AccordionBox ul li:first').addClass('active');
  
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
  });
      
