.category-bg
  -if is_admin?
    .admin-edit-del
      = link_to 'تعریف بخش جدید', new_category_path
    %br
  
  .AccordionBox
    %ul
      - @categories.each do |category|
        = link_to category do
          %li
            = image_tag category.image(:large)
            %div= category.title
            %div= category.description
:javascript

  $('.AccordionBox ul li:first').addClass('active');
  
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
  });
      
