.main-bg
  -if is_admin? 
    .admin-edit-del
      = link_to 'ویرایش', edit_category_path(@category)
      \|
      = link_to 'بازگشت', categories_path
    .admin-edit-del
      = link_to 'افزودن آیتم جدید', new_product_path
  
  
  .col-sm-12
    .col-sm-12.category-define
      .set-center          
        %h1.cat-title= @category.title      
        %p.cat-des= @category.description          
      
      -if I18n.locale == :en 
        = image_tag 'en-line.png', :class => "gold-line"
      - else 
        = image_tag 'line.png', :class => "gold-line"
    .col-sm-12.index-category
      - @category.products.each do |item|                
        .show-item{:class => I18n.locale}                  
          .col-sm-5
            - if item.pictures.present?
              = image_tag item.pictures.first.image(:medium), :class => "resize-img"
            - else 
              = image_tag 'missing.png', :class => "resize-img"
          = link_to product_path(item, :category_id => @category.id) do
            .col-sm-7.category-show-description
              %b= item.title
              %p=raw item.description
          
          .see-more
            .border-see-more.set-center
              = link_to 'مشاهده بیشتر', product_path(item, :category_id => @category.id)
          .clr-float
          
            - if is_admin?
              .admin-edit-del
                = link_to 'ویرایش', edit_product_path(item)
                \|
                = link_to 'حذف', item, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
        
            
          
 
:javascript
  
