.main-bg
  -if is_admin?
    .admin-link.fa
      %p= 'منوی صفحه'
      %hr
      = link_to 'ویرایش', edit_category_path(@category)
      \|
      = link_to 'بازگشت', categories_path
  %p#notice= notice  
  
  .col-sm-12
    .col-sm-12
      .set-center          
        .set-center= @category.title      
        %p= @category.description          
    .col-sm-12
      - @category.products.each do |item|        
        .main-bg
          = link_to item do
            .col-sm-4
              = image_tag item.pictures.first.image(:medium)
            .col-sm-6
              %b= item.title
              %p= item.description
            .clr-float
        
            
          
 
