= form_for @activity do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title_fa
    = f.text_field :title_fa
  .field
    = f.label :title_en
    = f.text_field :title_en
  .field
    = f.label :title_ar
    = f.text_field :title_ar
  .field
    = f.label :description_fa
    = f.text_area :description_fa
  .field
    = f.label :description_en
    = f.text_area :description_en
  .field
    = f.label :description_ar
    = f.text_area :description_ar
  .actions
    = f.submit 'Save'
