-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    %hr
    = link_to 'New Activity', new_activity_path
%h1 Listing activities

%table 

  - @activities.each do |activity|
    %tr
      %td= image_tag activity.image(:small)
      %td= activity.title     
      %td= activity.description     

      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }


