.main-bg
  -if is_admin?    
    = link_to new_activity_path , :class => "admin-access" do
      .admin-edit-del
        %i=  'فعالیت جدید'
    %p
      %i= 'جدید فعالیتهای هتل  را در این قسمت می توانید مشاهده و اضافه کنید.'
  %h1= 'لیست فعالیتها تاکنون'

  %table.table

    - @activities.each do |activity|
      %tr
        %td= image_tag activity.image(:small)
        %td= activity.title     
        %td= activity.description     
      %tr
        %td.more          
          = link_to 'جزئیات بیشتر', activity
        - if is_admin?
          %td
            = link_to 'مشاهده', activity
            = link_to 'ویرایش', edit_activity_path(activity)
            = link_to 'حذف', activity, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
          


