.main-bg
  -if is_admin?
    .admin-link.fa
      %p= 'منوی صفحه'
      %hr
      = link_to 'فعالیت جدید', new_activity_path
  %h1= 'لیست فعالیتها تاکنون'

  %table 

    - @activities.each do |activity|
      %tr
        %td= image_tag activity.image(:small)
        %td= activity.title     
        %td= activity.description     

        %td= link_to 'مشاهده', activity
        %td= link_to 'ویرایش', edit_activity_path(activity)
        %td= link_to 'حذف', activity, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }


