%div
  -if is_admin?
    .admin-link.fa
      %p= 'منوی صفحه'
      %hr
      = link_to 'ویرایش', edit_activity_path(@activity)
      \|
      = link_to 'بازگشت', activities_path
  %p#notice= notice
  
  %div= image_tag @activity.image(:small)
  
  %p
    %b عنوان فعالیت
    = @activity.title
  
  %p
    %b توضیحات
    = @activity.description
  

  
