.col-gl-12
  -if is_admin?
    .admin-edit-del
      
      = link_to 'ویرایش', edit_activity_path(@activity)
      \|
      = link_to 'بازگشت', activities_path
  
  
  .col-sm-6
    %h4.cat-title= @activity.title    
    .show-activity-description
      = @activity.description
  .col-sm-6= image_tag @activity.image(:large)

  
