= nested_form_for @product,  :html => { :multipart => true  } do |f| 
  - if @product.errors.any?
    #error_explanation      
      %ul
        - @product.errors.each do |attr, msg|
          %li= msg
  .col-sm-6
    .form-group 
      = f.label "بخش مربوطه" , :class => "col-sm-4 control-label"      
      = f.select(:category_id, Category.all.collect {|u| [u.title_fa, u.id]}, :prompt => ' بخش را انتخاب کنید.')        
    .form-group  
      = f.label "عنوان به فارسی:", :class => "col-sm-4 control-label"      
      = f.text_field :title_fa, :class => "form-control"
    .form-group 
      = f.label "عنوان به انگلیسی:", :class => "col-sm-4 control-label"      
      = f.text_field :title, :class => "form-control"
    .form-group 
      = f.label "عنوان به عربی:", :class => "col-sm-4 control-label"      
      = f.text_field :title_ar, :class => "form-control"
  .col-sm-6
    .form-group 
      = f.label "توضیحات به فارسی:", :class => "col-sm-4 control-label"      
      = f.text_area :description_fa, :class => "form-control"
    .form-group 
      = f.label "توضیحات به انگلیسی:", :class => "col-sm-4 control-label"      
      = f.text_area :description, :class => "form-control"
    .form-group 
      = f.label "توضیحات به عربی:", :class => "col-sm-4 control-label"      
      = f.text_area :description_ar, :class => "form-control"
  .clr-float
  .col-sm-6
    .form-group 
      = f.fields_for :pictures do |picture|  
        = render "shared/upload_image_form", :picture => picture
    .col-sm-12
      = f.link_to_add content_tag(:span, "افزودن تصویر", :class => "btn btn-default"), :pictures, :id => "add_new_picture"    
  .clr-float
  .form-group.pull-left
    = f.submit 'ثبت', :class=> "btn btn-default"
  .clr-float
  
:javascript
  function enable_file_select(){
    $(".enable_file_select").unbind('click').click(function(){
      $(this).parent().find("input:file").click();
    });
   }

  enable_file_select();

  $("#add_new_picture").click(function(){
    $(".enable_file_select").unbind('click');
    window.setTimeout('enable_file_select()', 1000);
  });
