.main-bg
  -if is_admin?
    = link_to new_product_path, :class => "admin-access" do
      .admin-edit-del
        %i= 'تعریف آیتم جدید'
    
  %h1= 'تعریف آیتم جدید'
  .products.set-center
    - @products.each do |product|      
      .pro_wrapper{align: "center", :id => I18n.locale}                
        = link_to product, :class => "model-link" do
          .pro-info.set-center  
            = image_tag product.pictures.first.image(:small)
          .robbin
            = image_tag 'cat-title2.png'
            .model-title= product.title 
        
      

   





