
-if is_admin?  
  .admin-edit-del
    = link_to 'ویرایش', edit_product_path(@product)       
    \|
    = link_to 'بازگشت', products_path 
      

    
.col-sm-12.product-info
  %h2= @product.category.title   
  %h3= @product.title
  %p=raw @product.description
  
  
  
.col-sm-12{:style => "height:350px"}
  - @product.pictures.each do |pic|    
    .col-sm-4.show-room                
      =link_to (image_tag pic.image(:medium), :class => "show-room-pic"  ), pic.image(:large), :data => { :colorbox => true }, :title => pic.description, :class => "show-rooms"         
      %p{:class => I18n.locale}= pic.description
      
      
          
:javascript    
  $('.show-rooms').colorbox({title: 'title' });   
  
