!!!
%html
  %head
    %title 
      = t("shadtoos") 
      = t('mashhad_hotel')
      = ',' + Category.all.collect(&:title).join(",") #{@head.fetch(:title, '') if @head}
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true      
    = javascript_include_tag "application"  
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png'
    = csrf_meta_tags
    %meta{:charset => "utf-8"}    
    %meta{:name => "description", :content => "hotel, shadtoos, مجتمع تجاری-اقامتی شادتوس, هتل در مشهد, هتل های مشهد,  هتل مشهد, هتلهای مشهد"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    
          
  %body{:class => I18n.locale}    
    
    %header
      #header-top        
      
      .language
        .lan-title= 'LANGUAGE'
        = link_to (image_tag 'flag/en.png'), locale: :en, :title => 'Mashhad Hotel'       
        = link_to (image_tag 'flag/fa.png'), locale: :fa, :title =>  'مشهد للشقق الفندقية'
        = link_to (image_tag 'flag/ar.png'), locale: :ar, :title => 'هتل مشهد'       
      
      #logo-menu.set-center   
        = link_to root_path, :title => "هتل مشهد - هتل شادتوس" do
          #logo.set-center
            = image_tag 'logo2.png', :alt => "هتل مشهد - هتل شادتوس", :title => "هتل مشهد - هتل شادتوس"
            
      
        
    .main       
      #mainmenu.set-center
        %nav          
          -if I18n.locale == :en       
            .menu_en{:class => I18n.locale}
              = render "shared/menu"
          - else
            .menu_fa{:class => I18n.locale}
              = render "shared/menu"
      
             
      .top-vin.set-center.slider-vintage                    
      .slider 
        - if is_admin? || @sliders.blank?
          %p.instead-slide-for-admin
        - else                   
          = render "sliders/slider", sliders:@sliders
          
        .site-link.reserv
          .text-box
            %b= t('reserve') 
        - if current_user.blank?
          = link_to  user_session_path , :class => "site-link login-link", :title => "هتل مشهد - هتل شادتوس" do            
            .text-box              
              %b= t('login')
              
      .bottom-vin.set-center.slider-vintage        
      .clr-float
      .background         
        .col-sm-11.content.set-center{:class => I18n.locale, :style => "min-height:550px; margin-right: 7%;"}
          = yield
      - if is_admin?
        .admin_menu.login_menu
          %h3= 'منوی مدیرسایت'
          = render 'shared/admin_menu'
      - elsif is_colleague?
        .colleague_menu.login_menu
          %h3= 'منوی همکاران'
          = render 'shared/colleague_menu'
      .clr-float
    %footer{:class => I18n.locale}
      #footer-bottom 
      = render "shared/footer"
 
  
  
  
  
