!!!
%html
  %head
    %title 
      = t("shadtoos") + ', ' + t('hotel')
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png'
    = csrf_meta_tags
    %meta{:charset => "utf-8"}    
    %meta{:name => "description", :content => "hotel, shadtoos, مجتمع تجاری-اقامتی شادتوس"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    -#
      :javascript
        <!--
        //Disable right click script
        //visit http://www.rainbow.arch.scriptmania.com/scripts/
        var message="Sorry, right-click has been disabled";
        ///////////////////////////////////
        function clickIE() {if (document.all) {(message);return false;}}
        function clickNS(e) {if
        (document.layers||(document.getElementById&&!document.all)) {
        if (e.which==2||e.which==3) {(message);return false;}}}
        if (document.layers)
        {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
        else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
        document.oncontextmenu=new Function("return false")
        // -->
          
  %body     
    
    %header
      #header-top        
     
      .language
        .lan-title= 'LANGUAGE'
        = link_to (image_tag 'flag/en.png'), locale: :en          
        = link_to (image_tag 'flag/fa.png'), locale: :fa
        = link_to (image_tag 'flag/ar.png'), locale: :ar
      
      #logo-menu.set-center   
        = link_to root_path do
          #logo.set-center
            = image_tag 'logo2.png'
            
      - if is_admin?
        .admin_menu
          %h3= 'منوی مدیرسایت'
          = render 'shared/admin_menu'
        
    .main       
      #mainmenu.set-center
        %nav
          
          -if I18n.locale == :en       
            .menu_en{:class => I18n.locale}
              = render "shared/menu"
          - else
            .menu_fa{:class => I18n.locale}
              = render "shared/menu"
      - if is_admin?
        %p.instead-slide-for-admin= 'اسلایدر در این مکان قرار می گیرد'
      - else
        
        .top-vin.set-center.slider-vintage            
        .slider          
          = render "sliders/slider"
          .reserv
            .text-box
              %b= t('رزرو آنلاین')
        .bottom-vin.set-center.slider-vintage        
      .clr-float
      .background 
        -#
          .col-sm-2
          
            .weather
              %script{src: "http://pichak.net/blogcod/weather/cod.php?width=0&style=2&textcolor=30301C&bgcolor=F7FFF2&city=IRXX0008&border=4C8C27", type: "text/javascript"}
              %div{style: "display:none"}
                %h1
                  %a{href: "http://pichak.net"} کد نمایش آب و هوا
                %h1
                  %a{href: "http://pichak.net/blogcod/weather"} کد نمایش آب و هوا
            .calender  
              
              / Begin RoozGozar.com oghat Code
              %script{language: "javascript", src: "http://roozgozar.com/blogcode/owghat2/8.js", type: "text/javascript"}
              / End RoozGozar.com oghat code
              
              %script{language: "javascript", src: "http://taktatools.com/date/date.php?454545AX000000BXtahomaCX9DX1EXsolidFXECFF42GX0HX0IX000000JX000000KX000000LX000000MX", type: "text/javascript"}
              
              %script{language: "javascript", src: "http://roozgozar.com/blogcode/arz/arz.php?FFFFFFAX000000BXtahomaCX9DX1EXsolidFXDEDE14GX0HX0IX000000JX000000KX011000010001101010110000LX", type: "text/javascript"}
              / Design By taktatools.com
              %center
                %script{src: "http://taktatools.com/amar/stat/index.php?Stat=1250&Border=000000&BackColor=FFFFFF&TextColor=000000&action=True", type: "text/javascript"}
              / Design By taktatools.com
            .clr-float
        .col-sm-10.content.set-center{:class => I18n.locale, :style => "min-height:550px; margin-right: 7%;"}
          = yield
      
      .clr-float
    %footer{:class => I18n.locale}
      #footer-bottom 
      = render "shared/footer"

  
:javascript 
  $(".item").first().addClass("active");
  $(".slide-indicator").first().addClass("active");
  $('.carousel').carousel();

