!!!
%html
  %head
    %title 
      = t("shadtoos") + ', ' + t('hotel')
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png'
    = csrf_meta_tags
    %meta{:charset => "utf-8"}    
    %meta{:name => "description", :content => "hotel, shadtoos, مجتمع هتل آپارتمان های شادتوس"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    -#
      :javascript
        <!--
        //Disable right click script
        //visit http://www.rainbow.arch.scriptmania.com/scripts/
        var message="Sorry, right-click has been disabled";
        ///////////////////////////////////
        function clickIE() {if (document.all) {(message);return false;}}
        function clickNS(e) {if
        (document.layers||(document.getElementById&&!document.all)) {
        if (e.which==2||e.which==3) {(message);return false;}}}
        if (document.layers)
        {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
        else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
        document.oncontextmenu=new Function("return false")
        // -->
          
  %body     
    
    %header
      #header-top        
     
      .language
        .lan-title= 'LANGUAGE'
        = link_to (image_tag 'flag/en.png'), locale: :en          
        = link_to (image_tag 'flag/fa.png'), locale: :fa
        = link_to (image_tag 'flag/ar.png'), locale: :ar
      #logo-menu    
        #logo
          = image_tag "logo.png"          
        .title-site
          %h3= t('shadtoos')
      
    .main  
      .slider
        .cycle-overlay.center{ :class => I18n.locale}                
          %p= t('about')
        = render "sliders/slider"

      #mainmenu.set-center
        %nav
          -if I18n.locale == :en       
            .menu_en{:class => I18n.locale}
              = render "shared/menu"
          - else
            .menu_fa{:class => I18n.locale}
              = render "shared/menu"
            
      = yield
    %footer{:class => I18n.locale}
      = render "shared/footer"
